body {
background-color: rgb(209, 209, 209);
font-family: 'Open Sans', sans-serif;
font-weight: 300;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.fit-picture {
    width: 250px;
}
